* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, pre {
    font-family: 'Chewy', cursive;
    color: #9b59b6;
}

/* Menú v2 */

.navbar {
    height: 100px;
    display: flex;
    background-color: white;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 .5rem;
    transition: 0.4s;
    font-size: .9rem;
}

.menu-right {
    margin-right: 3rem;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    color: black;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}

.menu-right {margin-right: 3rem;}

.show-menu-btn i{
    line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #9b59b6;
}
  
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.principal-content {
    height: 100vh;
    background-image:
        linear-gradient(rgba(45, 52, 54, 0.85), rgba(45, 52, 54, 0.85)), 
        url('https://images.unsplash.com/photo-1540479859555-17af45c78602?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.principal-content h1, .principal-content h3 {
    font-weight: normal;
    margin: 0 2rem;
}
.principal-content h1 {font-size: 5rem;}

.principal-button a {
    border: 1px solid #9b59b6;
    color: #9b59b6;
    padding: 10px 20px;
    border-radius: 7px;
    transition: .3s all ease-in-out;
    font-size: 1.3rem;
}

.principal-button a:hover {
    background-color: #9b59b6;
    color: white;
}

a{text-decoration: none;}

.principal-button {transition: .3s all ease-in-out;}

.principal-button:hover {transform: translateY(-5px);}

.justify-section {
    display: flex;
    justify-content: center;
}

img {box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.text-term {
    margin-top: 3rem;
    text-align: center;
    max-width: 600px;
    font-size: 1.5rem;
}

.text-term h2 {
    font-size: 3rem;
    color: #9b59b6;
}

.third-section {background-color: #eef2f5;}

.card {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;
    padding: 1rem 3rem;
}

.card-section {
    padding-top: 1rem;
    padding-bottom: 3rem;
    transition: all .5s ease-in-out;
}

.card-section:hover {
    transform: translateY(-5px);
}


.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(44, 62, 80,1.0);
    color: #dfe6e9;
}

@media (max-width: 1440px) {
    .navbar-option a {font-size: 1rem;}

    .navbar-button a {padding: 10px 35px;}
}

@media (max-width: 850px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
    }

    .show-menu-btn {margin-right: 3rem;}

    .menu{
      position: fixed;
      width: 75%;
      height: 100vh;
      background: rgba(51, 51, 51, 0.95);
      right: -75%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }

    .menu-right {margin-right: 0;}

    .menu a{
      display: block;
      padding: 20px;
      font-size: 1.5rem;
      color: white;
    }

    .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
      color: white;
    }

    #chk:checked ~ .menu{
      right: 0;
    }
  
}

@media (max-width: 768px) {
    .text-term {max-width: 500px;}
}

@media (max-width: 500px) {
    .text-term {max-width: 300px;}

    .principal-content h1 {font-size: 3rem;}

    .principal-content p {font-size: 1.3rem;}
}