* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

h1, h2 {font-family: 'Chewy', cursive;}

.navbar {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
}
.navbar-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

a {text-decoration: none;}

.navbar-menu ul li a {
    margin: 0 1rem;
    color: #2d3436;
    font-size: 1.1rem;
    transition: .3s all ease-in-out;
}

.navbar ul li a:hover, .principal-content h1 {
    color: #9b59b6;
}

.navbar-button {transition: .3s all ease-in-out;}

.navbar-button:hover {transform: translateY(-5px);}

.principal-content {
    height: 100vh;
    background-image:
        linear-gradient(rgba(45, 52, 54, 0.85), rgba(45, 52, 54, 0.85)), 
        url('https://images.unsplash.com/photo-1540479859555-17af45c78602?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.principal-content h1, .principal-content h3 {
    font-weight: normal;
    margin: 0 2rem;
}
.principal-content h1 {font-size: 5rem;}

.principal-button a {
    border: 1px solid #9b59b6;
    color: #9b59b6;
    padding: 10px 20px;
    border-radius: 7px;
    transition: .3s all ease-in-out;
    font-size: 1.3rem;
}

.principal-button a:hover {
    background-color: #9b59b6;
    color: white;
}

.principal-button {transition: .3s all ease-in-out;}

.principal-button:hover {transform: translateY(-5px);}

.justify-section {
    display: flex;
    justify-content: center;
}

.text-term {
    margin-top: 3rem;
    text-align: center;
    max-width: 600px;
    font-size: 1.5rem;
}

.text-term h2 {
    font-size: 3rem;
    color: #9b59b6;
}

.third-section {background-color: #eef2f5;}

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(44, 62, 80,1.0);
    color: #dfe6e9;
}